<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="logfile" xsi:type="File" fileName="log.txt" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <logger name="*" level="Info" writeTo="logconsole" />
    <logger name="*" level="Info" writeTo="logfile" />
    <logger name="*" level="Debug" writeTo="logconsole" />
    <logger name="*" level="Debug" writeTo="logfile" />
    <logger name="*" level="Error" writeTo="logconsole" />
    <logger name="*" level="Error" writeTo="logfile" />
    <logger name="*" level="Fatal" writeTo="logconsole" />
    <logger name="*" level="Fatal" writeTo="logfile" />
  </rules>

</nlog>